@each $color,
$val in $colors {
    .color-#{$color} {
        color: $val;
    }
    .bg-#{$color} {
        background-color: $val;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tablet {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .col-#{$val} {
        width: ($val/12)*100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.container {
    width: 100%;
    max-width: 1620px;
    padding: 0 50px;
    margin: auto;
    position: relative;
    @include tablet {
        padding: 0 20px;
    }
    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-top: 72px;
    margin-bottom: 2rem;
    min-height: 100vh;
}

.grid {
    display: grid;
}

button {
    min-width: 120px;
    margin: 10px auto;
    padding: 10px 20px;
    margin: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: .5px solid rgba(248, 170, 106, 0.514);
    border-radius: 20px;
    background-color: $main-color;
    cursor: pointer;
}

button:hover {
    background-color: $main-color-hover;
}

input {
    border-color: transparent;
    outline-color: $main-color;
    width: 96%;
    border-radius: 1rem;
    height: 42px;
    margin: 0 10px;
    padding: 4px 12px;
    transition: border-color .2s ease-in-out;
    font-size: 15px;
    &:focus {
        border-color: rgba($main-color, .6);
    }
}